@font-face {
  font-family: "Yellowtail";
  src: url("./font/Yellowtail-Regular.ttf");
}

@font-face {
  font-family: "TheNautigal";
  src: url("./font/TheNautigal-Regular.ttf");
}


@font-face {
  font-family: "ShadowsIntoLight";
  src: url("./font/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: "Unna";
  src: url("./font/Unna-Regular.ttf");
}
